@charset "utf-8";
body {
	background-color:#cfb48e;
	color:#7f571e;
	font-size: 15pt;
	font-family: "方正胖头鱼简体";
	margin: 0px;
	border:0px;
	padding:0px;
	
}
h1{
	text-align:center;
	background-color:yellow;
	margin: 0px;
	border:0px;
	padding:0px;
	min-width:294px;
}
#nv{
	background-color: white;/*将导航背景改为白色*/
	width:16%;
	min-width:165px;
}
#nv h3{
	margin-left:5px ;
	margin-top:5px ;
	margin-bottom:0px ;
}
#content{
	background-color: yellow;
	position:absolute;
	left:165px ;
	top:53px ;
	min-width:700px;
}
#lala{
	background-color:#DDD;
	position:absolute;
	top:398px;
	width:100%;
}